<nav class="bg-gray-800 text-white px-4 py-5 flex items-center">
    <div class="text-xl font-semibold">
        <a href="/">MyNotesApp</a>
    </div>
    <ul class="flex flex-1 justify-center gap-12 text-lg">
        <li><a href="/" class="hover:text-yellow-400">Home</a></li>
        <li><a href="/create" class="hover:text-yellow-400">ADD</a></li>
        <li><a href="/about" class="hover:text-yellow-400">About</a></li>
    </ul>
    <div>
        <span class="text-sm text-gray-300 mr-4 py-1 px-2 border-2 border-solid">Hi, <%= username %></span>
        <a href="/logout" class="hover:text-yellow-400">Logout</a>
    </div>

</nav>